<!DOCTYPE html>
<html>

<head>
    <title>about</title>
</head>

<body>
    <!-- Header Section -->
    {{!-- <header>
        <div class="head1">ABOUT</div>
    </header> --}}
    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/news">NEWS</a>
        <a href="/chat">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>

    <p>This website was created by Ram Meena.</p>
    <p>It uses Mapbox and weather stack data to display forecast.</p>
    <p>It uses news api to display news.</p>
    <p>Create date 24-06-2020.</p>

    <!-- Footer Section -->
    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Created by {{>footer}}</marquee>
        </marquee>
    </footer>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" </body>

</html>