<!DOCTYPE html>
<html>

<head>
    <title>chat</title>
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="head1">CHAT APP</div>
        <div class="head2">Welcome to {{title}} page </div>
    </header>
    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/chat">CHAT</a>
        <a href="/news">NEWS</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div><br/>

    <form id="message-from">
    <input name="message" placeholder="message" >
    
    <button style="border-width: thin; width : 80px;"
    id="sendId">send</button>

    <button 
    style="border-width: medium; margin-right: 10px; background-color: blue; float: right;"
    id="send-location">Send your Location</button>
    </form>
    
    <div id="chat-messages"></div>

    <!-- Footer Section -->
    <footer>
        <div>Created by {{>footer}}</div>
    </footer>

    <script id="message-template" type="text/html">
        <div>
            <p>{{>message}}</p>    
        </div>
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/js/newsClient.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <Script src="/js/chatClient.js"></Script>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</body>
</html>