<!DOCTYPE html>
<html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" 
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="head1">HELP</div>
        <div class="head2">NSE stock {{title}} page </div>
    </header>
    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/news" id="link2">NEWS</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>

    <p>Conatct Ram Meena</p>
   
    <!-- Footer Section -->
    <footer>
        <div>Created by {{>footer}}</div>
    </footer>
    <script src="/js/newsClient.js"></script>
</body>
</html>