<!DOCTYPE html>
<html>

<head>
    <title>help</title>
</head>

<body>
    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/news">NEWS</a>
        <a href="/chat">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>

    <p>Conatct Ram Meena</p>
    <p>Email us on Rammaina88@gmail.com for any queries</p>

    <!-- Footer Section -->
    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Created by {{>footer}}</marquee>
        </marquee>
    </footer>

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</body>

</html>