<!DOCTYPE html>
<html>

<head>
    <title>help</title>
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="head1">HELP</div>
        <div class="head2">Welcome to {{title}} page </div>
    </header>
    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/chat">CHAT</a>
        <a href="/news">NEWS</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>

    <p>Conatct Ram Meena</p>
    <p>Email us on Rammaina88@gmail.com for any queries</p>
   
    <!-- Footer Section -->
    <footer>
        <div>Created by {{>footer}}</div>
    </footer>

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" 
</body>
</html>