<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<!-- Body -->
<div class="menu">
    <a href="/">HOME</a>
    <a href="/weatherapp">WEATHER</a>
    <a href="/newsapp">NEWS</a>
    <a href="/chatapp">CHAT</a>
    <a href="/about">ABOUT US</a>
    <a href="/help">HELP</a>

    <div class="menu-logout">
        <a href="">LOGOUT</a>
    </div>
</div>

<body>
    <br />
    <div style="color:blueviolet">Welcome to My App</div>
</body>

<!-- Footer Section -->
<footer>
    <marquee behavior="alternate" direction="up" width="80%">
        <marquee direction="right" behavior="alternate">Created by {{>footer}}</marquee>
    </marquee>
</footer>

<link rel="stylesheet" href="/css/styles.css">

</html>