<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
</head>

<!-- Body -->

<body>
    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/news">NEWS</a>
        <a href="/chat">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
        
        <div class="menu-logout">
            <a href="">LOGOUT</a>
        </div>
    </div>

    <!-- Body section -->
    <div class="body_sec">
        <section id="Content">
            <h2>Search forecast in your city</h2>
        </section>
    </div>

    <div>
        <form>
            <input placeholder="location">
            <button>search</button>
        </form>
        <p id="forecastMsg"></p>
        <p id="errormsg"></p>
    </div>

    <!-- Footer Section -->
    <footer>
        <div>Created by {{>footer}}</div>
    </footer>

    <script src="/js/weatherClient.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</body>
</html>