<!DOCTYPE html>
<html>

<head>
    <title>news</title>
    <link rel="icon" href="/img/newsicon.png">
</head>

<body>

    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/news">NEWS</a>
        <a href="/chat">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>

    <h3>India's top news</h3>
    <a href="/news" id="link2">News</a>
    <div id="newsId"> </div>

    <!-- Footer Section -->
    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Click on news to get the top news</marquee>
        </marquee>
    </footer>

    <script src="/js/newsClient.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</body>

</html>