<!DOCTYPE html>
<html>

<head>
    <title>news</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="head1">NEWS</div>
        <div class="head2">NSE stock {{title}} page </div>

    </header>
    <!-- Menu Navigation Bar -->
    <div class="menu">
        <a href="/">HOME</a>
        <a href="/news">NEWS</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>

    <h3>India's top news</h3>
     <a href="/news" id="link2">Click Here</a>
    <div id="newsId"> </div>

    <!-- Footer Section -->
    <footer>
        <div>Created by {{>footer}}</div>
    </footer>

    <script src="/js/newsClient.js"></script>
</body>

</html>