<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="menu">
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/news">NEWS</a>
        <a href="/chat">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>

    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join Chat Room</h1>
            <form action="/chatjoin">
                <label>Display name</label>
                <input type="text" name="username" placeholder="Dispaly name" required>
                <label>Room</label>
                <input type="text" name="room" placeholder="Room" required>
                <button>Join</button>
            </form>
        </div>
    </div>

    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Enter your name and chat room name which you want to join</marquee>
        </marquee>
    </footer>
</body>

</html>