img {
    width: 250px;
}

input {
    padding: 8px;
    border : 1px solid #cccccc;
}

button {
    padding         : 8px;
    border          : 1px solid #888888;
    cursor          : pointer;
    background-color: slategrey;
}

.head1 {
    font-size  : 40px;
    color      : #009900;
    font-weight: bold;
}

.head2 {
    font-size    : 17px;
    margin-bottom: 15px;
}

body {
    margin             : 0 auto;
    background-position: center;
    background-size    : contain;
    margin-left        : 2px;
}

.menu {
    position        : sticky;
    top             : 0;
    background-color: darkmagenta;
    padding         : 10px 0px 10px 0px;
    color           : white;
    margin          : 0 auto;
    overflow        : hidden;
}

.menu a {
    float          : left;
    color          : white;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 20px;
}

.menu-logout {
    right: auto;
    float: right;
}

.body_sec {
    margin-left: 0px;
}

footer {
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 40px; 
    background-color: cornflowerblue;
    color           : black;
  }


  
 /* Join Page Styles */
  .centered-form {
    background: #333744;
    width: 100vw;
    height: 80vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #6a76a3;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 107%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}